@import '../theme/variables.scss';

.dx-accordion {
	margin: 0;

	.accordion-heading {
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: var($--theme-core-layout-border-color);
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 14px;
		color: var($--theme-core-text-color);
		padding: 13px 20px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		.icon {
			line-height: 0;
		}

		&__left {
			align-self: left;
		}
	}

	.accordion-content {
		color: var($--theme-core-text-color);
		padding: 13px 20px 20px 20px;
		border-bottom: 1px solid var($--theme-core-layout-border-color);

		// Clear excess margins from content, we provide the padding
		& > *:first-child {
			margin-top: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
