.dx-toggle-container {
	display: inline-block;
	.dx-toggle {
		background: #f5f8fb;
		border: 1px solid #c6cbd1;
		border-radius: 6px;
		height: 26px;
		// width: 72px;
		padding: 0px 4px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		gap: 2px;
		cursor: pointer;

		&:hover {
			.slider {
				border-color: #aac9ff;
			}
		}

		.icon {
			font-size: 10px;
			line-height: 0;
			margin: 0 5px;
			color: #c4c4c4;
		}

		.clear-placeholder {
			width: 19px;
			padding: 0 1px 0 0;
			margin: 0;
			display: block;
		}

		.slider {
			height: 22px;
			width: 22px;
			border-radius: 22px;
			background-color: #419bb2;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid transparent;

			.icon {
				font-size: 10px;
				line-height: 0;
				color: #ffffff;
				padding: 0;
				margin: 0;
			}
		}
	}
}
