.app {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 80px 200px 80px;

	.package-version {
		margin-top: 180px;
		text-align: center;
		display: flex;
		flex-flow: column nowrap;
		gap: 10px;

		.sources {
			font-size: 36px;

			.icon {
				display: inline-block;
				margin: 10px;
				color: #ff4f1f;

				&:hover {
					color: darken(#ff4f1f, 10%);
				}
			}
		}
	}
}
