@import '../node_modules/genesys-react-components/utils/theme/variables.scss';

$maxWidth: 800px;

// writeCssVars rewrites a map of SCSS vars as CSS vars
@mixin writeCssVars($map: ()) {
	@each $key, $value in $map {
		#{$key}: $value;
	}
}

// Define each theme's class here and write its CSS vars
.theme-anemia {
	@include writeCssVars($theme-anemia);
}

.theme-anemia-dark {
	@include writeCssVars($theme-anemia-dark);
}

.app-container {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: space-between;
	background-color: var($--theme-core-background-color);
	color: var($--theme-core-text-color);

	.app-nav {
		flex-grow: 0;
		flex-shrink: 0;

		.nav-container {
			max-width: $maxWidth;
		}
	}

	.app {
		margin: 0;
		flex-grow: 1;
		min-height: min-content;
		overflow: auto;

		.content {
			max-width: $maxWidth;
			margin: 0 auto;
			padding: 0 80px 200px 80px;

			.package-version {
				margin-top: 180px;
				text-align: center;
				display: flex;
				flex-flow: column nowrap;
				gap: 10px;

				.sources {
					font-size: 36px;

					.icon {
						display: inline-block;
						margin: 10px;
						color: #ff4f1f;

						&:hover {
							color: darken(#ff4f1f, 10%);
						}
					}
				}
			}
		}
	}

	.theme-toggle {
		position: fixed;
		top: 11px;
		right: 80px;
		margin: 0;
	}
}
