.dx-select-group {
	appearance: none;
	position: relative;

	select {
		border: 1px solid #8a96a3;
		border-radius: 2px;
		background-color: #ffffff;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		color: #75757a;
		padding: 8px 32px 8px 12px;
		width: 100%;
		appearance: none;

		&:focus-visible {
			outline: 2px solid #aac9ff;
		}
	}

	&::after {
		position: absolute;
		bottom: 12px;
		right: 12px;
		content: '\f105';
		font-size: 8px;
		font-family: genesys-dev-icons !important;
		font-style: normal;
		font-weight: normal !important;
		font-feature-settings: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		pointer-events: none;
	}

	&.disabled {
		&::after {
			color: #8a9a9e;
		}

		select:disabled {
			background-color: #e6ebec;
			border-color: #e8eaed;
			color: #8a9a9e;
			cursor: not-allowed;
		}
	}
}
