@import '../theme/variables.scss';

.dx-multiselect-group {
	appearance: none;
	position: relative;

	select {
		border: 1px solid var($--theme-core-control-border-color);
		border-radius: 2px;
		background-color: var($--theme-core-control-alt-background-color);
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		color: var($--theme-core-control-textbox-text-color);
		width: 100%;
		appearance: none;

		&:focus-visible {
			outline: 2px solid var($--theme-core-control-focus-color);
		}

		option {
			overflow: hidden;
			white-space: pre;
			text-overflow: ellipsis;
			-webkit-appearance: none;
			font-style: normal;
			font-weight: 300;
			font-size: 12px;
			line-height: 31px;
			padding: 8px 12px;
			color: var($--theme-core-control-textbox-text-color);

			&:checked {
				color: var($--theme-core-tag-text-color);
				background-color: var($--theme-core-tag-background-color);
			}

			&:disabled {
				color: #8a9a9e;
				cursor: not-allowed;
			}
		}

		// Webkit scrollbars (Chrome, Opera, Safari, Edge... every browser but firefox
		// https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 7px;
			height: 7px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 4px;
			background-color: #b0b2b5;
		}
		&::-webkit-scrollbar-corner {
			background: transparent;
		}

		// Just firefox
		// https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
		scrollbar-color: #b0b2b5 transparent;
	}

	&.disabled {
		select:disabled {
			background-color: var($--theme-core-control-disabled-background-color);
			border-color: var($--theme-core-control-disabled-border-color);
			cursor: not-allowed;

			option {
				color: var($--theme-core-control-disabled-text-color);
			}
		}
	}
}
