.dx-tabbed-content {
	margin: 40px 0;

	.tab-titles {
		border-bottom: 1px solid var(--theme-core-layout-border-color);
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;

		.tab-title {
			display: inline-block;
			padding: 5px 20px;
			border-bottom: 1px solid transparent;
			cursor: pointer;

			&:hover {
				border-color: var(--theme-core-control-punch-color);
			}

			&.active {
				border-bottom-color: var(--theme-core-control-punch-color);
				font-weight: bold;
			}

			// Make markdown-parsed paragraphs look normal
			& p {
				margin: 0;
				display: inline;
			}
		}
	}

	.tab-content {
		padding: 13px 20px 20px 20px;
		border-bottom: 1px solid var(--theme-core-layout-border-color);

		// Clear excess margins from content, we provide the padding
		& > *:first-child {
			margin-top: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
