@import '../theme/variables.scss';

.dx-textbox {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	border: 1px solid var($--theme-core-control-border-color);
	border-radius: 2px;
	margin: 0;
	padding: 0 10px;
	height: 32px;
	background-color: var($--theme-core-control-alt-background-color);

	&.with-label {
		margin-top: 0;
	}

	&:focus-within {
		outline: #aac9ff solid 2px;
	}

	.icon {
		display: block;
		flex: none;
		color: var($--theme-core-control-textbox-text-color);

		&.input-icon {
			font-size: 14px;
			line-height: 0;
		}

		&.clear-icon {
			font-size: 11px;
			line-height: 0;
			cursor: pointer;
			padding: 4px;
			margin-right: -4px;
		}
	}

	.dx-input {
		flex-grow: 1;
		border: 0;
		background: transparent;
		box-sizing: border-box;
		height: 32px;
		width: 100%;
		padding: 0;
		margin: 0;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: var($--theme-core-control-textbox-text-color);

		&:focus-visible {
			outline: 0;
		}

		&::placeholder {
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 16px;
			color: var($--theme-core-control-textbox-placeholder-text-color);
		}
	}

	&.disabled {
		background-color: var($--theme-dxbutton-secondary-disabled-background-color);
		cursor: not-allowed;

		input {
			cursor: not-allowed;
			color: var($--theme-dxbutton-secondary-disabled-text-color);
		}

		.icon,
		input::placeholder {
			color: var($--theme-dxbutton-secondary-disabled-text-color);
		}
	}
}

.dx-textarea {
	padding: 10px;
	border: 1px solid var($--theme-core-control-border-color);
	border-radius: 2px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	background-color: var($--theme-core-control-alt-background-color);
	color: var($--theme-core-control-textbox-text-color);

	&:focus-within {
		outline: var($--theme-core-control-focus-color) solid 2px;
	}

	&::placeholder {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		color: var($--theme-core-control-textbox-placeholder-text-color);
	}
}
